<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Docker Containers</title>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <div class="container">
      <ul>
        {% for container in containers %}
          <li>
            {{ container.name }}
            <a href="{{ container.url }}">{{ container.url_name }}</a>
            <span class="{{ 'status-ok' if container.status else 'status-fail' }}" style="display:block">
                        {{ '✅' if container.status else '❌' }}
            </span>
            <img src="{{ container.url }}/favicon.ico" id="favicon-{{ container.name }}" alt="favicon" style="display:none;width:16px;height:16px;" />
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
  <script>
    async function checkUrl(containerName, url) {
        const statusSpan = document.getElementById(containerName);
        const faviconImg = document.getElementById(`favicon-${containerName}`);
        try {
            const response = await fetch(`${url}/favicon.ico`);
            if (response.status == 200) {
                faviconImg.style.display = 'inline'
                statusSpan.style.display = 'none'
                return
            }
        } catch (error) {
            return
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        {% for container in containers %}
            checkUrl("{{ container.name }}", "{{ container.url }}");
        {% endfor %}
    });
</script>
</html>
